@font-face {
  font-family: 'Lotion';
  src: local('Lotion'), url(./Lotion.woff2) format('woff2');
}

body, html, #root {
	height: 100%;
	width: 100%;
  margin: 0;
  font-family: Lotion;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h4 {
	margin: 0;
}

input {
	font-family: Lotion;
}
