@font-face {
  font-family: 'Lotion';
  src: local('Lotion'), url(./Lotion.woff2) format('woff2');
}

body {
  margin: 0;
  font-family: Lotion;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
